*, html, body {
    margin: 0 auto;
}

body {
    background-color: rgb(233, 233, 223);
}

.corpo {
    background-color: white;
}

/* estilo header */

.headerMenu {
    background-image: url(../img/headerImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%;
    height: 300px;
    
}

.menu {
    position: relative;
    top: 82%;
}

.logo {
    width: 45px;
    height: 40px;
}

#itensMenu a {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
}

.corpo {
    width:80%;
}

.titulos {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 15px;
    color: orangered;
    font-size: 50px;
}

.imgTitulo {
    width: 300px;
    height: 300px;
    border: 0 solid white;
    border-radius: 160px;
    margin-bottom: 10px;
}

.hr {
    width: 95%;
}

.degrade {
    display: flex;
    margin-top: 40px;
}

.imgDegrade {
    width: 230px;
    height: 230px;
    margin: 5px;
}

.tituloCortes {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.preco {
    text-align: end;
}

.descricaoEquipe {
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    text-align-last: center;
}

.cargo {
    color: orangered;
}

.imgEquipe {
    width: 200px;
    height: 200px;
    border: 0 solid white;
    border-radius: 160px;
    margin-bottom: 10px;
    object-fit: cover;
}

#icone {
    margin-right: 10px;
    font-size: 45px;
}

.cardContato {
    margin-top: 20px;
}

.redesSociais ul {
    list-style: none;
    margin-right: 50px;
}

.redesSociais ul li {
    display: flex;
}

/* estilo footer */

.rodape {
    background: orangered;
    height: 100px;
    text-align: center;
}